#container {
    width: 100%;
   
}

h1 {
    text-align: center;
}

h3 {
    margin-left: 20px;
}
#addMovie {
    width: 800px;
    margin: 10px auto;
    border: 1px solid rgb(135, 62, 219);
    
}

.form {
    width: 95%;
    border: 1px solid black;
    margin: 0 auto 10px auto;
    padding: 10px 0 40px 0;

}

input {
    width: 95%;
    margin: 5px 15px;
    padding: 5px;
}

select {
    width: 97%;
    margin: 15px 15px;
    border: none;
    background-color:  rgb(243, 240, 240);
}
.btn {
    background-color: rgb(135, 62, 219);
    color: white;
    padding: 5px;
    width: 97%;
}

label {
    margin-left: 15px;
}

#allMovies {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 15px;
}

li:nth-child(even) {
    background-color: rgb(243, 240, 240);
    margin-right: 23px;
}

li {
    list-style-type: none;
    margin: 5px;
}

ul {
    padding-left: 12px;
}

#addProgram {
    width: 800px;
    margin: 10px auto;
    border: 1px solid rgb(135, 62, 219);
    
}

#errorText, #errorMessage {
    color:red;
    margin-left: 15px;
}