body {
    margin: 0;
    padding: 0;
}



.col-3 {
    float: right;
}

h1 {
    text-align: center;
}

#movie_container .container div {
    float: left;
    text-align: center;
    
}

#movie_container .container div a {
    display: block;
    margin-top: 10px;
   
}

